@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>


<p>Broadway Infosys Nepal is one of the best inclusive computer training institutes in Kathmandu,
    Nepal. Established in 2008, our professional IT Training and Development center has been 
    employing experts in this field to impart professional education to trainees. 
    We offer well-structured complete professional training in various Programming Languages, 
    Graphics & Multimedia, Web Designing as well as Development Training that is based upon the 
    current recruitment needs in the IT market.</p>
<p>
    -Providing quality IT training to the aspiring IT professionals
</p>
<p>
    - Availability of highly qualified and experienced instructors
</p>
<p>
    -Assigning project works as per the nature of the courses
</p>
<p>
    -Conducting regular project work evaluation sessions
</p>
<p>
    -Identifying trainees' skills and knowledge gaps
</p>
<p>
    - Taking corrective actions to enhance trainees' skills
</p>
<p>
    - Providing internship and job placement facilities to the trainees
</p>
<p> -Building long-term trustful relationship with the trainees</p>
