@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tinkune, Koteshwor<br />
    
    <abbr title="Phone">P:</abbr>
   01=4924191
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">info@broadwayinfosys.com</a><br />
    
</address>